body {
    margin: 80px 0px;
    padding: 0px;
    font-family: 'Vazir';
}

.container {
    max-width: 70%;
    margin: auto;
    align-items: center;
}

.topText {
    align-items: center;
    text-align: center;
    font-size: 1.14rem;
    padding-bottom: 50px;
}

.form-label-1 {
    position: absolute;
    background-color: white;
    top: -13px;
    right: 25px;
    padding: 0px 5px;
    font-size: small;
}

.form-control {
    border: 1px solid rgb(61, 61, 61);
    height: 50px;
}

#form-control-1 {
    border: 1px solid #ffc107;
}

.form-control::placeholder {
    color: rgb(22, 22, 22);
}

#form-control-1::placeholder {
    color: #575757;
}

.form-label-2 {
    display: flex;
    justify-content: center;
}

#form-control-4 {
    height: 200px;
    line-height: 1px;
}

.btn {
    border-radius: 1.5rem;
    width: 10rem;
    font-weight: bolder;
}